<%- include('header', {title: 'Login', css: 'css/login.css', js: ''}); -%>
    <div class="login">
        <h1>Register</h1>
        <form method="POST" action="">
            <input type="email" name="email" id="email" placeholder="Username" required="required" />
            <input type="text" name="displayName" id="displayName" placeholder="DisplayName" required="required" />
            <input type="password" name="password" id="password" placeholder="Password" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Submit</button>
        </form>
    </div>
    <%- include('footer'); -%>